* {
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  border: border-box;
}

/* navbar */

.nav {
  height: 80px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* amazon logo */

.nav-logo {
  height: 50px;
  width: 113px;
}

.logo {
  background-image: url("/Assets/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
  border-radius: 5px;
}

/* address */

.nav-address {
  cursor: pointer;
  padding: 10px;
}

.add-first {
  font-size: 0.85rem;
  color: #cccccc;
  margin-left: 14px;
}

.add-sec {
  font-size: 1rem;
  color: white;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* Search */

.nav-search {
  display: flex;
  height: 40px;
  width: 620px;
  border: 2px solid transparent;
}

.nav-search:hover {
  border: 2px solid orange;
  border-radius: 8px;
}

.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  border: none;
  padding-left: 5px;
}

.search-icon {
  width: 45px;
  background-color: #fca739;
  color: #0f1111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
}

.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding-left: 5px;
}

/* Language */

.nav-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.lang-logo {
  width: 48px;
  height: 30px;
  background-image: url(/Assets/usa.png);
  background-size: cover;
  margin-right: 3px;
}

.logo2 {
  background-image: url(/Assets/usa.png);
  background-size: cover;
}

.lang-select {
  height: 30px;
  border-radius: 5px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* Sign in */

.nav-signin {
  cursor: pointer;
  padding: 10px;
}

span {
  font-size: 0.7rem;
}

.nav-sec {
  font-size: 0.85rem;
  font-weight: 700;
}

/* Return & Order */

.nav-return {
  cursor: pointer;
  padding: 10px;
}

/* Cart */

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  padding: 12px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 700;
}

/* Panel */

.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.panel-all {
  cursor: pointer;
}

.panel p {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

/* hero section */

.hero-section {
  background-image: url("/Assets/hero_image.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 95%;
  margin-bottom: 20px;
}

.hero-msg a {
  text-decoration: none;
  color: #007185;
}

.hero-msg a:hover {
  text-decoration: underline;
  color: rgb(255, 51, 0);
}

/* Shop section */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  height: 1200px;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(0.25turn, #2d3a5c, #ebf8e1, #c3cdcf);
}

.box {
  height: 515px;
  width: 21.9%;
  background-color: white;
  padding: 20px 0px 15px 10px;
  margin-top: 20px;
}

.box-img1 {
  background-image: url(/Assets/box2_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img2 {
  background-image: url(/Assets/box8_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img3 {
  background-image: url(/Assets/box4_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img4 {
  background-image: url(/Assets/box3_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img5 {
  background-image: url(/Assets/box5_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img6 {
  background-image: url(/Assets/box7_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img7 {
  background-image: url(/Assets/box6_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-img8 {
  background-image: url(/Assets/box1_image.jpg);
  background-size: cover;
  height: 450px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-content {
  margin-left: 25px;
}

.img {
  cursor: pointer;
}

.shop-section h3 {
  cursor: pointer;
  font-weight: 800;
}

.shop-section p {
  cursor: pointer;
  color: #007185;
}

.shop-section p:hover {
  text-decoration: underline;
  color: rgb(255, 51, 0);
}

/* footer */

footer {
  margin-top: 30px;
}

/* signin */

.recommend {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.new {
  display: flex;
}

.recommend p {
  margin: 5px;
}

.recommend a {
  margin-top: 5px;
  cursor: pointer;
  color: #007185;
  text-decoration: none;
}

.recommend a:hover {
  text-decoration: underline;
  color: rgb(255, 51, 0);
}

.recommend div {
  margin: 5px;
}

.button {
  background-color: rgb(223, 223, 21);
  height: 40px;
  width: 350px;
  border: 1px solid orange;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

/* back to top */

.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.foot-panel1:hover {
  cursor: pointer;
  background-color: #4e5c6e;
}

/* links */

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 70px;
}

ul p {
  font-size: 1.5rem;
  font-weight: 550;
  cursor: pointer;
}

ul a {
  display: block;
  text-decoration: none;
  color: rgb(209, 209, 209);
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 15px;
}

ul a:hover {
  text-decoration: underline;
}

/* footer logo & select */

.foot-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid gray;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo3 {
  background-image: url("/Assets/amazon_logo.png");
  background-size: cover;
  height: 70px;
  width: 150px;
  cursor: pointer;
  margin-right: 40px;
}

.footer-panels3-select {
  width: 200px;
  text-align: center;
  height: 40px;
  margin-left: 10px;
  background-color: #222f3d;
  color: rgb(233, 233, 233);
  font-size: 1.1rem;
  border-radius: 5px;
  border-color: rgb(173, 173, 173);
}
